<div class=""> <%#d-flex justify-content-center flex-column text-center mw-100%>
	<% @posts.each do |post| %>
		<div class="mt-3 pt-3 border border-light">
			<% if user_signed_in? %>
				<p>User: <%= post.user.username %></p>
			<% else %>
				<strong>Sign in to see username</strong>
			<% end %>
			<p>Title: <%= post.title %></p>
			<p>Body: <%= post.body %></p>
		</div>
	<% end %>
</div>
