<h1>Posts</h1> <%# replace this with navbar %>

<div class="container text-center">
  <div class="d-flex flex-row justify-content-between mw-100">
    <div class="w-25"> <%# make fixed %>
      <% if user_signed_in? %>
        <%= link_to "Make a post", "/posts/new" %>
      <% else %>
        <%= link_to "Sign in to make a post", "/users/sign_in" %>
      <% end %>
    </div>
    <div class="w-50">
      <%= render "feed" %>
    </div>
    <div class="w-25"> <%# make fixed %>
      <p>Github</p>
    </div>
  </div>
</div>